/credibanco/credibanco/target/
/payment-gateway/payment-gateway-ear/target/
/payment-gateway/web/target/
/payment-gateway/credibanco/management/target/
/payment-gateway/credibanco/web/target/
/payment-gateway/integration/target/